@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  transition: background-color 3s ease, color 3s ease;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Tema claro */
body.light {
  @apply bg-white text-black;
}

/* Tema escuro */
body.dark {
  @apply bg-gray-900 text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-conic-gradient {
    background: conic-gradient(from 0deg, #00ffe0, #7000ff, #00ffe0);
  }
}
